extends layout

block content
  h1= title
  p Welcome to #{title}
  //- script.
  //-   var socket=io.connect('http://localhost');
  //-   socket.on('login',function(){
  //-     var username=prompt('What username would you like to use?');
  //-     socket.emit('login',username);
  //-     })