extends layout

block content
	div(class="frame1 head")
		include ./session/user
		div(style="clear:both")
		.contain
			ul(class='bar')
				li 
					span 
						a(href="/" class="choosen") Help Me
				li 
					span 
						a(href="/1") Help You
	div(style="clear:both")
	div(class="frame2")
		-for (var x=0;x<=Math.min(quest.length-1,6);x++)
			.quest
				.title
					p 标题: &nbsp&nbsp&nbsp
						span=quest[x].title
				.time
					p 申请时间:&nbsp&nbsp&nbsp
						//- p=quest[x].stime
						span=quest[x].stime 
					

					p 截止时间:&nbsp&nbsp&nbsp
						span 2014/2/21 18:00
				div(style="clear:both")
				.content
					p=quest[x].content
				.okey
					a(href="")申请
				div(class="dim" style="background: rgba(203, 57, 57, 0.8);" onmouseover="")
				div(class="dim" style="background: rgba(237, 237, 67, 0.8);" onmouseover="")
					
	.foot