extends layout

block content
	div(class="frame1 head")
		include ./session/user
		div(style="clear:both")
		.contain
			ul(class='bar')
				li 
					span 
						a(href="/" ) Help Me
				li 
					span 
						a(href="/1" class="choosen") Help You
	div(style="clear:both")
	div(class="frame2")
		.quest
			h1 新的任务
			form(method="POST",action="/newQuest" id="upload" enctype="multipart/form-data")
				p 
					label(for="title") 标题: &nbsp &nbsp
					br
					br
					input#title(name="title")
				p
					label(for="Date") 日期: &nbsp &nbsp &nbsp
					br
					br
					input#date(type="text",name="date")
				p
					label(for="discription") 详细: &nbsp&nbsp &nbsp &nbsp
					br 
					br

					//- form(action="/users" method="post" id="upload" enctype="multipart/form-data")
					textarea(type="file" name="content" rows="8" cols="40")
				br
				p
					input(type="submit",value="Create" style="background: \
						none repeat scroll 0% 0% rgba(162, 162, 189, 0.71); border-radius: 35px;")
			div(class="dim" style="background: rgba(203, 57, 57, 0.8);" onmouseover="")
			div(class="dim" style="background: rgba(237, 237, 67, 0.8);" onmouseover="")
						
	.foot