extends layout/layout
block content
    div(class="loginarea")
        div(class="row")
           div(class="col-md-8")
                h3 Register
                br
                div(id="wrong" visable="false" class="alert alert-danger")
                    p wrong password or username
                br
                form(class="form-horizontal" role="form" id="registerForm")
                    div(class="form-group")
                        label(class="col-sm-2 control-label") Username：
                        div(class="col-sm-6")
                            input(type="text" class="form-control" data-required="true" 
                                data-validate="username" data-description="text" data-describedby="textdes")
                        span(class="col-md-4" id="textdes")

                    div(class="form-group")
                        label(class="col-sm-2 control-label") Password：
                        div(class="col-sm-6")
                            input(type="password" class="form-control" data-required="true"
                            data-validate="password" data-description="password" data-describedby="passworddes")
                        span(class="col-md-4" id="passworddes")

                    button(type="submit" class="btn btn-default" ) Login in!
            div(class="col-md-4")
    include layout/foot
    script(src="/js/jquery-validate.min.js")
    script.
        $(function(){
            $('.active').removeClass('active')
            $('#wrong').hide()
            $("#registerForm").validate(
                {
                    onKeyup : true,
                    sendForm : false,
                    valid:function(form){
                        send()
                    },
                    invalid: function(form, validator) {  //不通过回调
                        return false;
                    },
                    eachValidField : function() {

                        $(this).closest('div').removeClass('has-error').addClass('has-success');
                    },
                    eachInvalidField : function() {

                        $(this).closest('div').removeClass('has-success').addClass('has-error');
                    },
                    description : {
                    text : {
                        required : '<div class="has-error"><span class="help-block"style="font-size:10px">Required</span></div>',
                        pattern : '<div class="has-error"><span class="help-block" style="font-size:10px">start with alphabet and in alphabet and number</span></div>',
                        conditional :'<div class="has-error"><span class="help-block"style="font-size:10px">longer then 5</span></div></div>',
                        valid : '<div class="has-success"><span class="help-black"style="font-size:10px">Valid</span></div>'
                    },
                    password : {
                        required : '<div class="has-error"><span class="help-block"style="font-size:10px">Required</span></div>',
                        pattern : '<div class="has-error"><span class="help-block"style="font-size:10px">in alphabet and number</span></div>',
                        conditional :'<div class="has-error"><span class="help-block"style="font-size:10px">longer than 8</span></div></div>',
                        valid : '<div class="has-success"><span class="help-black"style="font-size:10px">Valid</span></div>'
                    },
                    email : {
                        required : '<div class="has-error"><span class="help-block"style="font-size:10px">Required</span></div>',
                        pattern : '<div class="has-error"><span class="help-block"style="font-size:10px">no vaild email</span></div>',
                        conditional :'<div class="has-error"><span class="help-block"style="font-size:10px">support qq,163,gmail</span></div></div>',
                        valid : '<div class="has-success"><span class="help-black"style="font-size:10px">Valid</span></div>'
                    }
                }
            })

            $.validateExtend({
                username : {
                    required : true,
                    conditional : function(value) {

                        return value.length>=5
                    },
                    pattern : /^[a-zA-Z]+[a-zA-Z0-9_]+$/
                },
                email:{
                    required:true,
                    conditional:function(value){
                        return validEmail(value)
                    },
                    pattern:/^[a-zA-Z0-9]+@[a-zA-Z0-9]+.com$/
                },
                password:{
                    required:true,
                    conditional:function(value){
                        return value.length>=8
                    },
                    pattern: /^[a-zA-Z0-9._]+$/
                }
            });
            function send(){
                $.ajax({url:"/session",
                        type:'post',
                        data:{
                                  username:$('input[type=text]').val(),
                                  password:$('input[type=password]').val(),
                            },
                        success:function(data,status,xhr){
                                    if (data=='ok')
                                        location.href='/'
                                    else{
                                        $('#wrong').show()
                                    }
                                }
                    })
                }
        })



