extends layout/layout
block content
    div(class="container")
        div(class="starter-template")
            div(class="jumbotron")
                h1 
                    a(style="color:green") L
                    a eave 
                    a(style="color:red") I
                    a t 
                    a(style="color:black") T
                    a o 
                    a(style="color:gray") M
                    a e
                p Hey guys, we are the LITM office , glad to your visiting of our website, here we provide a web app for u to destory rest of your own life and rock in the deep~~ serilously~~~
                a(class="btn btn-primary btn-lg" rold="button" href="#") Learn more »

    include layout/foot
    script.
         $(function(){
            $('.active').removeClass('active')
            $('#Home').addClass('active')
            })
       