extends layout/layout
block content
    div(class="well loginarea " style="background:rgba(255,255,255,0.6)")
        div(class="container row ")
            div(class="col-md-9")
                h3 My Question
                div(class='well question' style="background:rgba(255,255,255,0.6);border:none")
                br
                br
                div(style="border-bottom:2px solid rgba(167, 160, 160, 0.48)")
                br
                br
                h3 My Mission
                div(class='well mission' style="background:rgba(255,255,255,0.6);border:none")
            div(class="col-md-3")

    div(class="modal fade " style="display:none" id="my")
        div(class="modal-dialog modal-lg")
            div(class="modal-content")
                div(class="modal-header my")
                    button(type='button' class='close' data-dismiss='modal')
                        span(aria-hidden="true") &times;
                        span(class="sr-only") Close
                    h2(class="modal-title")
                div(class="modal-body my")
                    p(style="font-weight:bold") Time:
                        strong(class="time" style="font-weight:normal")
                    p(style="font-weight:bold") From:
                        strong(class="from" style="font-weight:normal")
                    p(style="font-weight:bold") Descirption:
                        div(class="main")
                div(class="modal-footer")
                    a(href="#" class="btn btn-success") Sign here
                    a(href="#" class="btn" data-dismiss="modal") Close
    include layout/foot
    script(src="/js/main.js")
    script.
        var state = Translate()
        function render(data,type){
            for (var i = 0 ; i < data.length ; i ++ ){
                $('.well.question').append('<div class="mq'+i+' alert" role="alert"></div>')
                $('.'+type+i).addClass('alert-'+state.parseState(data[i].state))
                $('.'+type+i).append('<div><span class="glyphicon glyphicon-plus g'+type+i+' "style="float:right;color:rgba(0,0,0,0.5)"/>'+data[i].title+'</div>')
                $('.'+type+i).append('')
                $('.'+type+i).append('<div class="well" style="background:white;margin:2% 2%"></div>')
                $('.'+type+i+' div:gt(0)').append('<p><strong>Title:   </strong>'+data[i].title+'</p>')
                $('.'+type+i+' div:gt(0)').append('<p><strong>Brief:   </strong>'+data[i].brief+'</p>')
                $('.'+type+i+' div:gt(0)').append('<p><strong>Etime:   </strong>'+parseDate(new Date(data[i].etime))+'</p>')
                $('.'+type+i+' div:gt(0)').append('<p><strong>Status:   </strong>'+state.translateState(data[i].state)+'</p>')
                if (type=='mq'){
                    $('.'+type+i+' div:gt(0)').append('<div class="btn-group"><button class="btn btn-primary bSM'+i+'">Show more</button><button class="btn btn-default bGU'+i+'">Give up</button></div>')
                    $('.bSM'+i).click((function(value){
                       return function(){
                        showdes(value,$('#my'))
                     }
                    })(data[i]))
                   $('.bGU'+i).click((function(value){
                        return function() {$.ajax({
                                url:'/giveup',
                                type:'post',
                                data:{
                                    id:value
                                },
                                success:function(data,status,xhr){
                                    if (data == 'ok')
                                        location.reload(true)
                                }
                            })
                        }
                    })(data[i]._id))
                }
                $('.'+type+i+' .well').hide()
                $('.glyphicon.glyphicon-plus').css('cursor','pointer')
                $('.glyphicon.glyphicon-plus.g'+type+i).click((function(x){
                        return function(){
                            if ($('.'+type+x+' .well').is(':visible')){ 
                                $('.glyphicon.glyphicon-minus.g'+type + x).removeClass('glyphicon-minus')
                                                                     .addClass('glyphicon-plus')
                                $('.'+type+x+' .well').hide()
                            }
                            else{
                                $('.glyphicon.glyphicon-plus.g'+type + x).removeClass('glyphicon-plus')
                                                                     .addClass('glyphicon-minus')
                                $('.'+type+x+' .well').show()
                            }
                        }
                    })(i))
            }
        }
        function rendermm(data){
            for (var i = 0 ; i < data.length ; i ++ ){
                $('.well.mission').append('<div class="'+type+i+' well">'+data[i].title+'</div>')
            }
        }
        $(function(){
            $('.active').removeClass('active')
            $.ajax({url:'/findmq',
                    type:'get',
                    success:function(data,status,xhr){
                        data=playpage(data,1,5,$('.buddle').css('width'))
                        console.log(data)
                        render(data,'mq')
                    }
                })
            $.ajax({url:'/findmm',
                    type:'get',
                    success:function(data,status,xhr){
                        data=playpage(data,1,5,$('.buddle').css('width'))
                        render(data,'mm')
                    }
                })
            })
   