extends layout/layout
block content
    div(class="container" style="padding-top: 2%;position:relative" id='container') 
        img(class='map img-responsive img-thumbnail' src='/pic/crime.png' style="background-color: #222;border: 3px solid #FFF;float:right")
    include layout/foot
    script.
        var contractTrace = []
        $(function(){
            $('.active').removeClass('active')
            $('#Home').addClass('active')
            var contracts = new Contract()
            contracts.init(render)
            function render(){
                 setTimeout(function(){
                        renderHtml(contracts.pop())
                        if (contracts.length() != 0)
                            setTimeout(render ,1000)
                    },1000);     
            }
        })
        function renderHtml(data){
            $template=$("<div class='contract'><div class='buddle'><div class='circle'></div></div></div>")
            $template.append('<div class="authorandtitle"><strong style="color:white;">'+ data.from+':</strong>'+'<p style="color:white;">'+data.title+'</p></div>')
            $template.click(function(){
                alert(data.title)
                })
            $template.css('opacity','0.1')
            var x = Math.random()*$('#container').width()
            var y = Math.random()*$('#container').height()

            //make sure two contract will not be so close
            var flag = false
            while (flag == false) {
                flag = true
                for (var i = 0 ; i < contractTrace.length ; i++ ){
                    if (Math.abs(contractTrace[i].x - x) <=50 || Math.abs(contractTrace[i].y - y) <=50){
                        flag=false
                        break
                    }
                }    
                if (x < 50 || x > $('#container').width-50) flag=false
                if (y < 50 || y > $('#container').height-100) flag=false
                     
                if (flag) contractTrace.push({x:x,y:y}) 
                else{
                       x = Math.random()*$('#container').width()
                       y = Math.random()*$('#container').height()
                    }
            }

            $template.css({'left':x+'px','top':y+'px'})
            $template.animate({opacity:'1'},2000)
            var zz=$('#container').append($template)
        }
       