body {
    padding-top: 50px;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}
.map {
    background-image: url('/pic/crime.png');
    background-repeat: no-repeat;
    background-size: 1550px 1000px;
    width:1200px;
    height: 690px;
    background-position:-175px -155px;
}
.starter-template {
  padding: 40px 15px;
}
.starter{
    margin: auto;
    padding: 40px 20%;
}
.quests {
    margin: auto;
}
.contract
{
    position: absolute;
}

.loginarea {
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    letter-spacing: 1px;
    max-width: 1000px;
    margin: auto;
    padding: 5%;
}

.control-label
{
    text-align: left;
}
.circle{
    border:2px solid black;
    width: 30px;;
    height: 30px;
    border-radius: 15px;
}
.authorandtitle {
    /*float:left;*/
    position: relative;
    top:-30px;
    right:-70px;
    width:40px;
}
.buddle
{
    float:left;
    position:relative;
    margin:10px;
    padding-left:10px;
    padding-top:5px;
    width:50px;
    height:40px;
    line-height:1.2;
    color:#fff;
    background-color: rgba(204, 204, 204,1);
    border-radius: 5px;
    word-break:break-all;
}
.buddle:after{
    content:"\00a0";
    width:0;
    height:0;
}

.buddle:after{
    display: block;
    border-style: solid;
    border-width: 15px;
    border-color: rgba(204, 204, 204, 1) transparent transparent transparent;
    position:absolute;
    z-index:0;
    bottom:-25px;
    left:10px; 
}



.avater
{
    width: 100px;
    height: 100px;
}
.title{
    font-size: 35px;
    color:black;
    font-weight: bold;
    text-align: center;
}

.deadline{
    color:#e66;
    padding:2% 5%;
    font-size: 25px;
    font-weight: bold;
}
.brief{
    color:black;
    padding:2% 5%;
}
.Fliter{
    position: absolute;
    right:50px;
    top:50px;
    color: #aaa;
    font-size: 15px;
}

.time
{
    font-size:15px;
    font-weight: normal;
    color:white;
}

.from
{
    font-style:italic;
    font-weight: normal;
    font-size: 15px;
    cursor:pointer;
    color:white;
}

.main
{
    font-style:arial;
    font-size:15px;
    font-weight: normal;
    color:white;
}

.modal-title
{
    color:white;
}
.mapmenu
{
    padding:5px 10px;
    position:absolute;
    color:white;
    background: rgba(0,0,0,0.6);
}

