body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
}
.starter{
    margin: auto;
    padding: 40px 20%;
}
.quests:{
    margin: auto;
}

.loginarea {
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    letter-spacing: 1px;
    max-width: 1000px;
    margin: auto;
    padding: 5%;
}

.control-label
{
    text-align: left;
}

.buddle
{
    position:relative;
    padding:30px;
    margin:1em 0em 3em;
    max-width:100%;
    line-height:1.2;
    color:#fff;
    background-color: rgba(204, 204, 204, 0.3);
    border-radius: 25px;
    word-break:break-all;
}
.buddle:after{
    content:"\00a0";
    width:0;
    height:0;
}

.buddle:after{
    display: block;
    border-style: solid;
    border-width: 15px;
    border-color: rgba(204, 204, 204, 0.3) transparent transparent transparent;
    position:absolute;
    z-index:-1;
    bottom:-25px;
    left:20px; 
}



.avater
{
    width: 100px;
    height: 100px;
}
.title{
    font-size: 35px;
    color:black;
    font-weight: bold;
    text-align: center;
}

.deadline{
    color:#e66;
    padding:2% 5%;
    font-size: 25px;
    font-weight: bold;
}
.brief{
    color:black;
    padding:2% 5%;
}
/*.main{
    padding: 10px 10px;
} 

.information
{
     margin:1em 0em 3em;
     padding: 30px 30px;
     background-color: rgba(204, 204, 204, 0.15);
     border-radius: 20px;

}

.informationmain
{
    padding: 30px 30px;
}
*/