.user
	if (session && session.user)
		//- img(src="/images/"+session.user.pic style="width:50px")
		a(href="/users/"+session.user.username) My Profile
		span &nbsp;or&nbsp;
		a(href="/del") Logout
	else 
		a(href="/session/new") Login
		span &nbsp;or&nbsp;
		a(href="/users/new") Register	

