extends ../layout
block content
	h1 Welcome back to Litm
	p
		a(href="/users/new") Create new profile
	ul
		- for (var username in users){
			li 
				a(href="/del/"+users[username].username)=users[username].username
				p=users[username]
			&nbsp
		- };