html
	head
		title=title
		link(rel='stylesheet', href='/stylesheets/login.css')
	body
		.ice
			//- form(action="/users" method="post" id="upload" enctype="multipart/form-data") 
			//- 	input(type="file" name="uploadImg")  
			//- 	input(type="submit" value="upload")  
			h1 New User
			form(method="POST",action="/users" id="upload" enctype="multipart/form-data")
				p 
					label(for="username") User name: &nbsp &nbsp
					input#username(name="username")
				p
					label(for="password") Password: &nbsp &nbsp &nbsp
					input#password(type="password",name="password")
				p
					label(for="password") 选择图片: &nbsp&nbsp &nbsp &nbsp
					//- form(action="/users" method="post" id="upload" enctype="multipart/form-data")
					input(type="file" name="pic")
				br
				p
					input(type="submit",value="Create" style="background: \
						none repeat scroll 0% 0% rgba(162, 162, 189, 0.71); border-radius: 35px;")