extends ../layout
block content
	h1=user.name
	h2 Bio
	p=user.bio
	form(method="POST",action="/users/"+encodeURIComponent(user.username))
		input(name="_method",type="hidden",value="delete")
		input(type="submit",value="delete") 