div(class="modal fade " style="display:none" id="description")
    div(class="modal-dialog modal-lg" )
        div(class="modal-content" style="background:rgba(0,0,0,0.8);box-shadow: 0px 5px 15px rgba(227, 51, 51, 0.61);")
            div(class="modal-header my" style="border:none")
                button(type='button' class='close' data-dismiss='modal')
                    span(aria-hidden="true") &times;
                    span(class="sr-only") Close
                h2(class="modal-title")
            div(class="modal-body my" style="border:none")
                p(style="font-weight:bold;font-size:20px") Time:
                    strong(class="time")
                p(style="font-weight:bold;font-size:20px") From:
                    strong(class="from")
                p(style="font-weight:bold;font-size:20px") Descirption:
                    div(class="main")
            div(class="modal-footer" style="border:none")
                a(href="#" class="btn btn-success") Sign here
                a(href="#" class="btn" data-dismiss="modal") Close