footer(class="bs-docs-footer"  role="contentinfo" style="border:none")
    div(class="container")
        p Deisgn and built with bootstrap by Akssus and Joe
        p    Copyright (c) Sun Yet sen Univ

script(src="/javascripts/jquery-2.1.0.js")
script(src="/js/bootstrap.min.js")
script(src="/js/bootstrap-datepicker.js")
script(src="/js/main.js")
