if (session && session.user)
    ul(class="nav navbar-nav navbar-right" )
        li(class="dropdown" id="Me")
            a(class="dropdown-toggle" data-toggle="dropdown" href="#" style="text-transform: uppercase") 
                span(class="glyphicon glyphicon-user")=" "+session.user.username

            ul(class="dropdown-menu" role="menu" disable="true")
                li
                    a(href='/editprofile') My profile
                li(class='divider')
                li(class='dropdown-header') Quest
                li
                    a(href='/myquest#myquest') My Quest
                li
                    a(href='/myquest#mymission') My Mission
        li
            a(href="/session/del") Log out
else
    ul(class="nav navbar-nav navbar-right")
        li
            a(href="/users/new") Register
        li
            a(href="/session/new") Log in


