body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
}


.loginarea {
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    letter-spacing: 1px;
    max-width: 1000px;
    margin: auto;
}

.control-label
{
    text-align: left;
}

